
<div class="container" ng-if="!auth.isLogged">
    <div class="row">
        <div class="col-md-6">
            <form name="authForm" ng-submit="authMe()">
                <div class="form-group">
                    <label class="control-label">Login</label>
                    <input type="text" class="form-control" name="login" ng-model="$parent.credential.login">
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input name="password" type="password" class="form-control" ng-model="$parent.credential.password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">GO</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-if="auth.isLogged">

    <div class="container">

        <div class="row" ng-repeat="i18n in translations | orderBy : 'key'">
            <div class="col-md-3">
                <b>{{i18n.key}}</b>
            </div>
            <!--translations-->
            <div ng-repeat="translation in i18n.translations">
                <div class="col-md-3">
                    <textarea class="form-control" ng-model="translation.value"></textarea>
                </div>
            </div>

            <!--button addTranslation-->
            <div ng-if="i18n.isMissingImportantTranslation"><!-- -->
                <div class="col-md-3">
                    <button ng-show="!openNewTranslation" type="button" class="btn btn-warning" ng-click="openNewTranslation = true;addEnTanslation(i18n)">Rajouter</button>
                </div>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-primary" ng-click="updateTranslation(i18n)">Mettre à jour</button>
            </div>

        </div>

    </div>
</div>