
<div class="container" ng-if="!auth.isLogged">
    <div class="row">
        <div class="col-md-6">
            <form name="authForm" ng-submit="authMe()">
                <div class="form-group">
                    <label class="control-label">Login</label>
                    <input type="text" class="form-control" name="login" ng-model="$parent.credential.login">
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input name="password" type="password" class="form-control" ng-model="$parent.credential.password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">GO</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-if="auth.isLogged">

    <div class="container">

        <div class="row" ng-repeat="i18n in translations">
            <div class="col-md-3">
                <b>{{i18n.key}}</b>
            </div>
            <div ng-repeat="translation in i18n.translations">
                <div class="col-md-3">
                    <textarea class="form-control" ng-model="translation.value"></textarea>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" ng-click="updateTranslation(i18n)">Mettre à jour</button>
            </div>
        </div>

        <!--<form name="TranslationForm" ng-submit="addTranslation()">-->
            <!--<div class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label">-->
                        <!--Key-->
                    <!--</label>-->
                    <!--<input type="text" ng-model="translation.key" class="form-control" required/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label">-->
                        <!--Anglais-->
                    <!--</label>-->
                    <!--<input type="text" ng-model="translation.en.value" class="form-control" required/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label">-->
                        <!--Français-->
                    <!--</label>-->
                    <!--<input type="text" ng-model="translation.fr.value" class="form-control" required/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<button type="submit" class="btn btn-primary"> Ajouter </button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->


        <!--<div class="row">-->
        <!--<div class="col-md-2">-->
        <!--<strong>Key</strong>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
        <!--<strong>Val</strong>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row" ng-repeat="translation in translations.fr">

            <form class="form-inline" ng-submit="updateTranslation(translation)">
                <div class="form-group">
                    <div class="form-control-static">{{translation.key}}</div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="translation.value">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Mettre à jour</button>
                </div>
            </form>
        </div>
    </div>
</div>